<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
	<th mat-header-cell *matHeaderCellDef> {{column}} </th>
	<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
</ng-container>

<ng-container matColumnDef="expandIcon">
<th mat-header-cell *matHeaderCellDef>
<button mat-icon-button (click)="toggleAllRows()">
	<mat-icon>{{isAllRowsExpanded ? 'remove' : 'add'}}</mat-icon>
</button>
</th>
<td mat-cell *matCellDef="let element">
<button mat-icon-button (click)="toggleRow(element)">
	<mat-icon>{{element.isExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
</button>
</td>


</ng-container>

<ng-container matColumnDef="expandedDetail">
	<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length + 1">
		<div class="example-element-detail" *ngIf="element.addresses?.data.length" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
			<div class="inner-table mat-elevation-z8" *ngIf="element.isExpanded">
				<table mat-table [dataSource]="element.addresses">
					<ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
						<td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
					</ng-container>
					<tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
				</table>
			</div>
		</div>
	</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplay.concat(['expandIcon'])"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplay.concat(['expandIcon']);" 
	[class.example-element-row]="element.addresses?.data.length"
	[class.example-expanded-row]="element.isExpanded">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
